/* Introdução */
.introducao-bg {
background: var(--cor-p1);
width: 100%;
height: 100vh;
padding-top: 80px;
}
.introducao {
width: 800px;
height: 800px;
max-width: 100%;
background-image: url('../img/banner-home.png');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}
.introducao h1 {
width: 100%;
height: 800px;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding-top: 20px;
text-shadow: rgba(0, 0, 0, 60%) 4px 2px 4px;
text-transform: uppercase;
}

@media (max-width: 600px){
.introducao-bg {
background: var(--cor-p1);
width: 100%;
height: 800px;
}
.introducao h1 {
padding-top: 0px;
font-size: 1.5rem;
}
}