/* Sabores-sorvete */
.sorvete-bg h2 {
padding-top: 107px;
padding-bottom: 78px;
text-transform: uppercase;
}
.sorvete {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 46px;
padding-bottom: 136px;
}
.sorvete picture img {
padding-top: 54px;
padding-left: 44px;
padding-right: 44px;
}
.sorvete-container {
width: 307px;
height: 362px;
box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
padding: 20px;
}
.sorvete h3 {
padding-top: 48px;
padding-bottom: 18px;
}
.sorvete p {
padding-bottom: 19px;
max-width: 223px;
}
@media (max-width: 600px) {
.sorvete-bg h2 {
padding-top: 70px;
padding-bottom: 40px;
text-transform: uppercase;
}
.sorvete picture img {
padding-top: 34px;
padding-left: 24px;
padding-right: 24px;
}
.sorvete-container {
width: 250px;
height: auto;
}
.sorvete h3 {
padding-top: 30px;
padding-bottom: 8px;
}
.sorvete p {
padding-bottom: 9px;
max-width: 223px;
}
}